@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PustokMVC.Models
@using PustokMVC.ViewModels.CategoryVM;
@model List<HeroSlider> 
@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts {
    <script src="~admin/js/demo/datatables-demo.js"></script>
}
<div class="table-responsive">
    <td><a asp-action="Create" class="btn btn-outline-success space-db--100">Create Slider</a></td>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tread>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>ImageURL</th>
            <th>IsRight</th>
            <th cosplan="2">Action</th>
            <th cosplan="2">Delete</th>

        </tread>
        <tbody>
            @if (Model != null) 
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td><img src = "@item.ImageURL" /></td>
                        <td>@(item.IsRight == true ? "right" : "left" )</td>
                        <td><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                        <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                    </tr>
                }
            }
            else 
            {
                <tr>
                    <td class="text-center" colspan="4">No Data</td>
                </tr>
            }
        </tbody>
    </table>
</div>
